<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Edit a name task</h1>

    <div class="field">
      <input
        #taskTitleInput
        class="input has-background-light is-medium"
        type="text"
        placeholder="Enter task name..."
      />
    </div>
    <div class="buttons is-right" style="margin-top: 20px;">
      <button class="button is-medium" routerLink="/">
        Cancel
      </button>
      <button
        class="button is-primary has-text-white is-medium"
        (click)="onUpdateTask(taskTitleInput.value)"
      >
        Save
      </button>
    </div>
  </div>
</div>
